<% if flash[:error] %>
    <div style="color: red">
      <h2><%= flash[:error] %></h2>
    </div>
<% end %> </br>

<h1> Login Page </h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <p>Name: <input name=name> </br>
    <p>Password: <input name=password> </br>
    <input type=submit value='Login'>
  <% end %>