<% if flash[:error] %>
    <div style="color: red">
      <h2><%= flash[:error] %></h2>
    </div>
  <% end %> </br>

<h1> Login Page </h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <input name=name>
    <input name=password>
    <input type=submit value='login'>
  <% end %>