<div id="<%= dom_id person %>">
  <div class="is-flex is-align-items-center mb-3">
    <figure class="image is-96x96 mr-3 is-flex is-align-items-center">
      <%= image_tag person.img_url, alt: "#{person.name} image" %>
    </figure>
  </div>
  <div class="content">
    <h3> <%= person.name %> </h3>
    <% if person.most_common_type > "" %>
      <p> Most Common Type: <%= person.most_common_type.capitalize %> </p>
    <% end %>
  </div>