<div id="<%= dom_id person %>">
  <div class="is-flex is-align-items-center mb-3">
    <% if person.img_url %>
      <figure class="image is-96x96 mr-3 is-flex is-align-items-center">
        <img src="<%= person.img_url %>" alt="<%= person.name %> image" />
      </figure>
    <% end %>
    <p class="title">
      <%= person.name %>
    </p>
  </div>
</div>
