<p style="color: green"><%= notice %></p>

<h1 class="title">People</h1>

<div id="people">
  <% @people.each do |person| %>
    <a href="<%= person_path(person) %>">
      <div class="box content mb-3">
        <h3 class="mb-0"><%= person.name %></h3>
        <!-- here is where we'll put tags/categories -->
      </div>
    </a>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>
