<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <img src=<%= pokemon.img_url %> >

  <p>
    <strong>Description:</strong>
    <%= pokemon.description %>
  </p>

</div>
